<html>
<head>
<title> </title>

<style>
	body{
	background-size:cover;
	background-repeat:no-repeat;
	background-size:100%;
	}
	</style>
<body background = 'https://afxdigital.com.br/content/images/uploaded/como-usar-a-comunica%C3%83%C2%A7%C3%83%C2%A3o-visual3.png'>
<h1 align='center'>
<font face='times new roman'color='black'>
COMSUMER PURCHASE PREDICTION
</h1>
<form action = "/login" method = "post">

<p>
<font size='3'face='palatino'color='black'>
ENTER YOUR PRODUCT ID
</font>
</p>
<p>
<font size='3'face='palatino'color='black'>
<input type = "text" name = "pid" placeholder='Your Product ID'/>
</p>
<label for = "Gender">
GENDER
</label>
<select name = "G">
<option value = "Male">MALE</option>
<option value = "Female">FEMALE</option>
</select>

<p>
ENTER AGE
</p>
<p>
<input type = "text" name = "age" placeholder='Your Age'/>
</p>

<p>
<font size='3'face='palatino'color='black'>
ENTER YOUR OCCUPATION CATEGORY IN RANGE 1-20
</p>
<p><input type = "text" name = "oc" placeholder='Enter Value'/></p>

<label for = "City Category">CITY CATEGORY</labels>
<select name = "cc">
<option value = "1">1</option>
<option value = "2">2</option>
<option value = "3">3</option>
</select>

<p>
<font size='3'face='palatino'color='black'>
ENTER YOUR STAY IN CURRENT CITY IN YEARS
</p>
<p><input type = "text" name = "st" placeholder='No of years'/>
</p>
<label for = "Marital Status">MARITAL STATUS</labels>
<select name = "ms">
<option value = "married">MARRIED</option>
<option value = "unmarried/divorced">UNMARRIED</option>
</select>

<p>
<font size='3'face='palatino'color='black'>
ENTER YOUR PRODUCT_CATEGORY_1 IN RANGE 1-20
</p>
<p><input type = "text" name = "pca" placeholder='Enter category'/></p>

<p>
<font size='3'face='palatino'color='black'>
ENTER YOUR PRODUCT_CATEGORY_ 2 IN RANGE 3-18</p>
<p><input type = "text" name = "pcb" placeholder='Enter Category'/></p>

<p>
<font size='3'face='palatino'color='black'>
ENTER YOUR PRODUCT_CATEGORY_3 IN RANGE 3-18</p>
<p><input type = "text" name = "pcc" placeholder='Enter Category'/></p>

<p>
<font size='3'face='palatino'color='black'>
<input type = "submit" value = "SUBMIT"/></p>
</form>
<b>{{label}}</b>
</body>
</html>